<div class="flex h-screen">
  <!-- Sidebar -->
  <aside class="w-64 bg-gray-800 text-white hidden md:block">
    <div class="p-4 text-xl font-bold border-b border-gray-700">Recruiter Panel</div>
    <nav class="p-4 space-y-2">
      <a routerLink="/recruiter/dashboard" class="block hover:bg-gray-700 p-2 rounded">Dashboard</a>
      <a [routerLink]="['/recruiter/jobs']" class="block hover:bg-gray-700 p-2 rounded">My Jobs</a>
      <a routerLink="/recruiter/applicants" class="block hover:bg-gray-700 p-2 rounded">Applicants</a>
      
    </nav>
  </aside>

  <!-- Main Content -->
  <main class="flex-1 bg-gray-100 overflow-auto">
    <router-outlet></router-outlet>
  </main>
</div>
